.drawer-content {
    display: flex;
}
.listItems .text {
    margin-left: 10px !important;
}
.logo {
    width: 150px !important;
    height: auto;
}
.listItems {
    margin-top: -10px !important;
}
#expandButtonItem {
    margin-left: 16px;
}
.collapse-menu {
    margin-left: 30px;
}
.sidebar-boxes{
    display: flex;
    margin-top: auto;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 13px;
}
.sidebar-boxes .box {
    width: 80%;
    border: 1px solid rgb(196, 192, 191);
    border-radius: 5px;
    margin: 10px auto auto auto;
    padding: 5px 0 0;
    align-content: center;
    text-align: left;
}
.sidebar-grid {
    display: flex;
    justify-content: center;
    text-align: center;
}
.grid-container{
    width: 70%;
    display: flex;
    justify-content: center;
}
.clicked-item {
    background-color: #2c5eff !important;
    color: white !important;
}
.sidebar-item {
    width: 85% !important;
    height: 25% !important;
    border: 2px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    margin: 12px auto 12px auto !important;
    color: blac;
}
.navigate {
    text-decoration: none;
    color: black;
}
.navigate:visited {
    color: black;
}